@import './variables.scss';

.navbar {
    --navbar_max-width: #{$max-width};
    --navbar_height: #{$nav-height};
    --navbar_background-color: #{$biel};
    --navbar_text-color: #{$grafit};
    --navbar_text-color-hover: #{$grafit}cc;
}
.show-nav {
    transform: translateY(0%) !important;
}
.active-link {
    position: relative;
    &::after {
        transition: all 0.3s ease;
        content: '.';
        position: absolute;
        bottom: 6px;
        font-weight: bolder;

        color: var(--navbar_text-color);
        &:hover {
            color: var(--navbar_text-color-hover);
        }
    }
}

.sticky-nav {
    transform: translateY(-100%);
    transition: all 0.3s ease;
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 999;
    box-shadow: rgba(0, 0, 0, 0.22) 0px 25px 20px -20px;
}
.navbar {
    background-color: var(--navbar_background-color);
    height: var(--navbar_height);
    padding: 0rem calc((100vw - var(--navbar_max-width)) / 2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    i {
        font-family: 'Font Awesome 5 Brands' !important;
        * {
            font-family: 'Font Awesome 5 Brands' !important;
        }
    }
    .navbar__logo {
        color: var(--navbar_text-color);
        text-decoration: none;
        font-size: 1.5rem;
        padding-left: 3rem;
        height: 100%;
        img {
            height: 100%;
        }
    }
    .navbar__toggler {
        .bar {
        }
    }
    .navbar__menu {
        padding: 0.5rem 0rem;
        display: flex;
        align-items: stretch;
        .navbar__link {
            font-weight: 700;
            color: var(--navbar_text-color);
            text-decoration: none;
            padding: 0.5rem 1.8rem;
            transition: all 0.2s ease;
            &:hover {
                color: var(--navbar_text-color-hover);
            }
            text-align: center;
            border-radius: 5px;
            line-height: 1;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .icon {
            color: var(--navbar_text-color);
            text-decoration: none;
            padding: 0.5rem 1rem;
            transition: all 0.2s ease;
            &:hover {
                color: var(--navbar_text-color-hover);
            }
            text-align: center;
            font-size: 1.5rem;

            i {
            }
        }
    }
}

@media screen and (max-width: $large) {
    .active-link {
        &::after {
            display: none;
        }
    }
    .navbar {
        --navbar_height: #{$nav-height_mobile};
        .navbar__logo {
        }
        .navbar__toggler {
            .bar {
                display: block;
                cursor: pointer;
                width: 25px;
                height: 3px;
                margin: 5px auto;
                transition: all 0.3s ease-in-out;
                background-color: var(--navbar_text-color);
            }
        }
        #mobile-menu {
            position: absolute;
            top: calc(0.5 * var(--navbar_height));
            right: 5%;
            transform: translate(5%, -50%);
        }
        #mobile-menu.is-active {
            .bar {
                &:nth-child(1) {
                    transform: translateY(8px) rotate(45deg);
                }
                &:nth-child(2) {
                    opacity: 0;
                }
                &:nth-child(3) {
                    transform: translateY(-8px) rotate(-45deg);
                }
            }
        }
        .navbar__menu {
            display: flex;
            flex-direction: column;
            position: absolute;
            width: 100%;
            top: -1000px;
            .navbar__link {
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                padding: 1rem 0rem;

                border: none;
                &:hover {
                    border: none;
                    background-color: transparent;
                }
            }
        }
        .navbar__menu.active {
            top: 100%;
            opacity: 1;
            z-index: 99;
            height: calc(100vh - var(--navbar_height));
            font-size: 1.5rem;
            background: var(--navbar_background-color);
        }
    }
}
