@import './variables.scss';

.services {
    --max-width: #{$max-width};
    --main_color: #{$niebieski};
    --text_color: #{$grafit};
}
.services {
    padding: 8rem 1rem;
    max-width: var(--max-width);
    margin-right: auto;
    margin-left: auto;
    .services__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 1rem;
        // div 1
        .topline {
            color: var(--main_color);
            text-transform: uppercase;
            font-weight: bold;
            margin-bottom: 0.5rem;
        }
        .services__heading {
            color: var(--text_color);
            margin-bottom: 1rem;
            font-size: clamp(2rem, 6vw, 3rem);
        }
        .services__features {
            list-style: none;
            padding-left: 1.5rem;
            .services__feature {
                color: var(--text_color);
                margin-bottom: 1.5rem;
                font-size: clamp(1rem, 5vw, 1.2rem);
                i {
                    margin-right: 0.5rem;
                    color: var(--main_color);
                    font-size: inherit;
                }
            }
            .greeting {
                color: var(--text_color);
            }
        }
        // koniec div 1
        // div 2
        .services__img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        // koniec div 2
    }
}

@media screen and (max-width: $medium) {
    .services {
        .services__container {
            display: grid;
            grid-template-columns: 1fr;
        }
    }
}

@media screen and (max-width: $small) {
    .services {
        .services__container {
            .services__img {
                display: none;
            }
        }
    }
}
