// breakpoints
$xs: 0;
$small: 576px;
$medium: 768px;
$large: 992px;
$extra-large: 1200px;
$maximum: 1400px;

$max-width: 1200px;

// kolory

$grafit: #222222;
$biel: #ffffff;
$zolty: #f2b705;
$czerwony: #d90404;
$niebieski: #38b6ff;

// nav-height
$nav-height: 5rem;
$nav-height_mobile: 4rem;
